include ./reply

mixin comments(comment={})
    section.comment
        .comment__container#CommentContainer            
            ul.comment__area#CommentArea
                each cmtItem in comment
                    li.comment__list(id=cmtItem.id)
                        .comment__inner
                            .comment__title
                                .comment__creator
                                    span=cmtItem.creator.name
                                    span=cmtItem.createTime
                                if cmtItem.exist
                                    .comment__btn
                                        if loggedUser
                                            span.comment__reply
                                                i.fas.fa-reply-all
                                        if loggedUser && cmtItem.creator.id.toString() === loggedUser.id
                                            span.comment__delete
                                                i.fas.fa-trash-alt
                                else
                                    .comment__btn
                            if cmtItem.exist
                                .comment__text
                                    span=cmtItem.text
                            else
                                .text-delete
                                    span 삭제 된 댓글 입니다.
                    if cmtItem.child.length > 0
                        +reply(cmtItem.child)
            form#CommentAdd
                if loggedUser
                    textarea(placeholder="댓글 입력")#CommentInput
                else 
                    textarea(placeholder="로그인이 필요합니다.", disabled)
                input(type="submit" value="등록")