include ./reply

mixin comments(post={})
    section.comment
        .comment__container#CommentContainer            
            ul.comment__area#CommentArea
                each comment in post.comments.reverse()
                    li.comment__list(id=comment.id)
                        .commment__inner
                            .comment__title
                                .comment__creator
                                    span=comment.creator.name
                                    span=comment.createTime
                                if loggedUser && comment.creator.id.toString() === loggedUser.id
                                    .comment__btn
                                        span.comment__reply
                                            i.fas.fa-reply-all
                                        span.comment__delete
                                            i.fas.fa-trash-alt
                            .comment__text
                                span=comment.text
                    if comment.childComment.length > 0
                        +reply(comment.childComment)
            form#CommentAdd
                if loggedUser
                    textarea(placeholder="댓글 입력")#CommentInput
                else 
                    textarea(placeholder="로그인이 필요합니다.", disabled)
                input(type="submit" value="등록")
                        
