extends ./layout/main

block content
    .change-password
        .form-container
            form(action=`${routes.user}${routes.changePassword}` method="post")
                input(type="password" name="password" placeholder="기존 비밀번호")
                input(type="password" name="newpassword" placeholder="바꿀 비밀번호")
                input(type="password" name="newpassword2" placeholder="비밀번호를 다시 입력")
                input(type="submit" value="변경")