@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

body {
  font-family: "Nanum Gothic", serif;
}

main {
  width: 100%;
  margin: 30px auto;
  min-height: 70vh;
}

button,
input[type="submit"],
input[type="reset"],
a {
  cursor: pointer;
}

form {
  width: 100%;
  #cke_editor1 {
    width: 100%;
    margin-bottom: 15px;
  }
}
