extends ./layout/main

block content
    section.make
        .make__container#MakeContainer
            form(action=`${routes.post}${routes.editBoard(post.id)}`, method="post")
                .make__title
                    span 제목
                    input(type="text" name="title" placeholder="제목을 입력하세요", value=post.title)#MakeTitle
                .make__content
                    textarea(name="content" id="editor1")=post.content
                    input(type="submit" value="저장")