.board {
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .board__title {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 15px 0;
  }
  .board__title,
  .board__post {
    width: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: 480px 100px 100px 70px;
    justify-items: center;
  }
  .board__list {
    width: 100%;
    .board__post {
      background: none;
      padding: 10px 0px;
      border-bottom: 1px #b2bec3 solid;
      .board__post-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 450px;
        margin-right: 5px;
        &:hover {
          color: #dfe6e9;
        }
      }
      a {
        display: flex;
        justify-self: start;
        span:last-child {
          color: #ff7675;
        }
      }
    }
  }
  .board__bottom {
    width: 100%;
    margin-top: 7px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .board__page {
      .pageBtn {
        padding: 8px;
        border: 1px solid;
        border: 1px #b2bec3 solid;
        &:hover {
          background: rgba(76, 209, 55,.5);
        }
        &.current {
          background: rgba(76, 209, 55,1.0);
        }
        &.disabled {
          cursor: auto;
          background: #dfe6e9;
        }
      }
    }
    .board__makebtn {
      align-self: flex-end;
      padding: 8px;
      border: 1px #b2bec3 solid;
      &:hover {
        background: #dfe6e9;
      }
    }
  }
}
