.post {
  width: 100%;
  .post__container {
    max-width: 750px;
    border: 1px rgba(178, 190, 195, 1) solid;
    margin: 0 auto;
    padding: 15px 10px;
    .post__title {
      display: flex;
      flex-direction: column;
      .post__title-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 10px 0;
        margin-bottom: 10px;
        border-bottom: 1px rgba(178, 190, 195, 1) dashed;
        .post__name {
          font-size: 18px;
          font-weight: bold;
          max-width: 600px;
        }
        .post__createAt {
          white-space: nowrap;
        }
      }
      .post__title-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .post__address {
          font-size: 14px;
          opacity: 0.5;
        }
      }
    }
    .post__content {
      line-height: 1.5;
      margin-bottom: 20px;
    }
    .post__popular {
      display: flex;
      .post__comments,
      .post__views {
        border-right: 1px #b2bec3 solid;
        padding: 0 5px 0 0;
        margin-right: 8px;
      }
      .post__comments {
      }
      .post__views {
      }
      .post__likes {
        cursor: pointer;
        i {
          color: rgba(214, 48, 49, 1);
        }
        #postLikeLoginCheck {
          margin-left: 8px;
          font-size: 12px;
          opacity: 0.5;
        }
      }
    }
    .post__func {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      a {
        display: block;
        padding: 8px;
        border: 1px #b2bec3 solid;
        &:first-child {
          margin-right: 8px;
        }
        &:hover {
          background: #dfe6e9;
        }
      }
    }
  }
}
